<% title "New Provider" %>


    <div id='article'>
    	<div id='a_text'>
        	<%= image_tag("tit_mostrese.png") %>
            <p>Esta área foi criada para que você pudesse ser encontrado com mais rapidez e facilidade por contratantes que buscam seu perfil de profissional. Para se cadastrar, preencha os campos abaixo.</p>
        </div>
        <div id="a_content1">

        <%= image_tag("tit_sobre_voce.png") %>
        <%= render 'form' %>
        
        </div>
    </div>
