<html>
<head>
<title>Novo contato feito pelo site Eco Me Encontra !</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
	<b>Olá <%= @contact.provider.name %><br /></b>
	<b>Nome:  </b><%= @contact.name %><br />
	<b>E-mail: </b><%= @contact.e_mail %><br />
	<b>Mensagem: </b><br />
	<%= @contact.message %><br />
</body>
</html>
