<%content_for :head do%>
	<%= stylesheet_link_tag "home.css"%>
<%end%> 
 <div id='article'>
    	<div id='a_text' style="margin-top:20px;">
        	<%= image_tag ("tit_como_funciona.png") %>
            <p>O Me Encontra é a ferramenta mais eficaz para quem está construindo ou reformando e precisa de profissionais capacitados para trabalharem na obra.</p>
            <p>Como funciona:</p>
            <li>O profissional realiza seu cadastro;</li>
            <li>As informações ficam disponíveis para os usuários da ferramenta;</li>
            <li>Quem procura por um profissional, pode encontrá-lo no sistema de acordo com as informações profissionais e região mais indicadas à sua obra.</li>
            <p>O Me Encontra é um facilitador para quem busca uma colocação no mercado e para quem precisa de mão de obra especializada!</p>
        </div>
    	<div id='a_content'>
			<%= image_tag ("img_como_funciona.png") %>
        </div>
    </div>
