<%content_for :head do%>
	<%= stylesheet_link_tag "home.css"%>
    <%= stylesheet_link_tag "terms_of_use.css"%>
<%end%> 

<div class="terms_of_use">
	<h3><b>Termos de Uso</b></h3>
	<p>
	Todo o conteúdo deste hotsite pertence a Eduardo Aparecido da Silva Artefatos (Eco Verde) e está protegido pelas leis de copyright. O uso das informações, tais como imagens, textos exclusivos, entre outros conteúdos, é terminantemente proibido e, havendo transgressão desta regra, o responsável deverá responder judicialmente.
 
	Quando você utiliza este site, você concorda quanto aos termos e condições que seguem. Se você não concordar com estes termos e condições, você deve imediatamente encerrar a participação neste hotsite.
 
	Propaganda não autorizada e comentários abusivos ou desrespeitosos com relação a Eduardo Aparecido da Silva Artefatos (Eco Verde) ou quaisquer outros personagens ou parceiros da empresa anteriormente mencionada poderão ser apagados, sem nenhuma necessidade e aviso prévio por parte da equipe de moderação do site.
 
	O conteúdo de cada comentário é de única e exclusiva responsabilidade do autor, não refletindo a opinião dos responsáveis por este site.
	</p> 
</div>
