body{
	background-image:url(../images/bg_pesquisa.jpg);
	background-position:center top;
	background-repeat:no-repeat;
	}

#section{
	width:960px;
	margin:0 auto;
	}

#header{
	width:960px;
	height:205px;
	}

#h_logo{
	float:left;
	margin-top:75px;
	margin-left:30px;
	}

#h_info{
	float:right;
	margin-top:85px;
	margin-right:40px;
	}

#article{
	width:960px;
	height:600px;
	}

#a_text{
	margin-top:50px;
	margin-left:40px;
	margin-right:40px;
	
	}

#a_text p{
	font-family:Arial, Helvetica, sans-serif;
	color:#fefefe;
	font-size:12px;
	margin-top:20px;
	line-height:20px;
	}

#a_content1{
	margin:0 auto;
	height:305px;
	width:388px;
	margin-top:72px;
	padding-top:10px;
	}

#a_content1 img{
	margin-top:20px;
	margin-bottom:20px;
	}

.a_content1_input{
	background-image:url(../images/bg_form.png);
	background-position:center top;
	background-repeat:no-repeat;
	background-color:transparent;
	border:1px solid transparent;
	width:378px;
	height:37px;
	margin-bottom:5px;
	padding-left:10px;
	color:#708e95;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	}

.a_content1_input_cep{
	background-image:url(../images/bg_form_cep.png);
	background-position:center top;
	background-repeat:no-repeat;
	background-color:transparent;
	border:1px solid transparent;
	width:209px;
	height:37px;
	margin-bottom:5px;
	padding-left:10px;
	color:#708e95;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	float:left;
	}

.a_content1_input_tel{
	background-image:url(../images/bg_form_tel.png);
	background-position:center top;
	background-repeat:no-repeat;
	background-color:transparent;
	border:1px solid transparent;
	width:150px;
	height:37px;
	margin-bottom:5px;
	padding-left:10px;
	color:#708e95;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	float:left;
	margin-left:5px;
	}

#a_content2{
	margin:0 auto;
	height:665px;
	margin-top:50px;
	}

#footer{
	width:960px;
	height:50px;
	margin-top:780px;
	}

#f_left{
	float:left;
	color:#93b7bb;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	text-transform:uppercase;
	}

#f_right{
	float:right;
	color:#93b7bb;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	text-transform:uppercase;
	margin-top:-10px;
	}

#f_right a{
	color:#93b7bb;
	text-decoration:none;
	margin-left:10px;
	margin-right:10px;
	}

#box_resultado{
	width:940px;
	margin:0 auto;
	margin-top:20px;
	background: rgba(0, 0, 0, 0.2);
	padding: 10px 20px;
	border-radius: 10px;
	}

#box_resultado p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFFFFF;
	line-height:16px;
	}

.bt_contato{
	float:right;
	text-align:right;
	margin-top:20px;
	}
