<% title "Provider" %>
<%content_for :head do%>
	<%= stylesheet_link_tag "show_msg_enviada.css"%>
<%end%>
    <div id='article' class="congratul" >

    	<div id='a_content1' style="width: 570px !important; margin-top: 50px !important; margin:0 auto;">
        	<h2>Parabéns!</h2>
        	<p class="a_text1">Sua Mensagem foi enviada com sucesso! </p></p>
        </div>
        
    </div>

