<%content_for :head do%>
	<%= stylesheet_link_tag "home.css"%>
    <%= stylesheet_link_tag "privacy_policy.css"%>
<%end%> 
<div class="privacy_box">
    <h3>Política de Privacidade</h3>
    
    <p>Este documento descreve as práticas referentes à política de privacidade do hotsite Me Encontra – Eco Verde. Ao utilizar este hotsite você concorda com nossas práticas de privacidade. Caso você discorde de nossas práticas de privacidade, não utilize este hotsite nem realize o download de qualquer material dele proveniente.
    O hotsite terá funcionalidade profissional, objetivando unir contratantes e contratados por meio de cadastros.
    </p>
     
    <p>
    Revisamos e atualizamos nossas práticas de privacidade periodicamente. Não realizamos anúncios específicos de tais atualizações e nos reservamos o direito de efetuar alterações sem que quaisquer alertas sejam necessários. Você deve visitar esta página ao menos uma vez a cada trinta dias para revisar nossas práticas de privacidade então em vigor, uma vez que estes termos lhe dizem respeito. Todas as atualizações serão publicadas neste site. A continuação do uso deste hotsite implica na aceitação de seus termos.</p>
    </p>
    <p> 
    <h3>Sua Privacidade</h3> 
    Uso de Informações de Identificação Pessoal
    O acesso a este hotsite poderá ser realizado por qualquer usuário que busque um profissional ou por qualquer profissional do segmento que deseje se cadastrar. Para tanto, o fornecimento de informações para identificação pessoal, incluindo: seu nome, endereço físico, endereço eletrônico, assim como números telefônicos ou de fax e informações de cunho profissional se faz necessário. Coletamos tais dados para possibilitar a melhor compreensão de suas necessidades e garantir melhor funcionamento da proposta do hotsite. Algumas das informações solicitadas são facultativas, ou seja, você não precisa fornecê-las se não julgar necessário. 
    Ao realizar seu cadastro no hotsite, você participará de um ambiente virtual rico em compartilhamento de informações pessoais e profissionais, porém a troca de mensagens realizada entre contratantes e contratados é confidencial e somente os envolvidos terão acesso às informações.
    O Me Encontra – Eco Verde não se responsabiliza pelo uso indevido de informações entre os usuários. Encorajamos você a ficar atento às informações que fornece espontaneamente para que as mesmas não lhe causem desconforto ou até mesmo problemas mais sérios.
    O ambiente do hotsite terá como objetivo integrar ainda mais os gestores e tornar o trabalho mais produtivo e interligado. Para que isso seja possível é prudente que cada usuário tenha consciência das informações compartilhadas e fornecidas, evitando, assim, que o hotsite perca seu foco e objetivo principal.
    A privacidade de dados pessoais é ainda uma área em evolução e, deste modo, erros e falhas de comunicação são possíveis. Faremos o melhor possível para manter a exatidão de seus dados pessoais. Você será o responsável pelo controle das informações que disponibiliza em seu perfil, caso haja algum erro ou falha que você detecte, será possível informar aos responsáveis por meio de correio eletrônico.
    </p>
    <p> 
    <h3>Uso de Cookies</h3>  
    O Me Encontra – Eco Verde pode fazer uso de cookies de tempos em tempos. Os cookies são pequenos arquivos de texto que websites podem utilizar para reconhecer um visitante constante. Usamos os cookies por vários motivos. Os cookies permitem que ofereçamos a você uma melhor experiência de navegação, já que com eles somos capazes de compreender quais as áreas do site que despertam o interesse de nossos membros. Tais cookies não armazenam dados pessoais. Os cookies do Me Encontra – Eco Verde só podem ser lidos por websites da Eco Verde. Caso você não queira que a Eco Verde utilize cookies em seu browser, programe seu browser para rejeitar cookies ou para notificar você todas as vezes que um website tentar utilizar cookies com seu software de navegação. Caso você decida desabilitar os cookies de seu navegador, ainda assim será possível acessar a maior parte deste hotsite; contudo, seu acesso a alguns produtos e/ou serviços deste Site pode ficar comprometido.
    Links para Sites de Terceiros
    Neste hotsite pode haver links de redirecionamento para outros sites. O Me Encontra – Eco Verde não é responsável pelo compartilhamento desses links quando realizado entre usuários. Sugerimos a você que esteja atento aos links compartilhados para evitar eventuais transtornos.
    Clicando em um link desconhecido e acessando outro site, seja de produtos ou serviços, você estará sujeito às políticas de privacidade do mesmo.
    Lembre-se de que qualquer informação enviada para área de acesso comum será considerada informação de domínio público (dentro do ambiente do hotsite), ou seja, não será interpretada como confidencial. A possibilidade de terceiros obterem acesso a essas informações para coletar dados não está descartada, uma vez que a internet não é um ambiente totalmente seguro. Seja cuidadoso e responsável quando estiver online.
    </p>
</div>
